@use '~/styles/' as *;
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.registration {
    width: 90%;
    max-width: 640px;
    padding: 24px;
    text-align: center;
    border: 0.325rem solid transparent;
    background-color: white;
    color: $txt-color;
    box-shadow: 0 0 0 1px rgba($txt-color, 0.1);
    border-radius: 15px;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 0.5s ease-in-out;
    &__content {
        margin-bottom: 1.5rem;
        h1 {
            font-weight: 500;
            font-size: 1.8rem;

            @include screen-mobile {
                font-size: 2rem;
            }

            @include screen-tablet {
                font-size: 2.2rem;
            }

            @include screen-laptop {
                font-size: 2.4rem;
            }
        }
    }

    &__actions {
        &--providers {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 1rem;

            .google {
                background-color: $bg-color;
                color: $txt-color;
                &:hover {
                    background-color: #dddddd;
                }
            }

            .github {
                background-color: #333;
                color: #ffffff;
                &:hover {
                    background-color: #444;
                }
            }
        }

        &--email {
            text-align: start;
            display: flex;
            flex-direction: column;
            gap: 7px;
            margin: 0.5rem 0;
            .error-message {
                color: #dc3545;
                font-size: 1.4rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 400;
                display: block;
                margin: 0.2rem 0;
            }
            input {
                width: 100%;
                font-size: 1.4rem;
                border-radius: 5px;
                border: 1px solid #d6d6d7;
            }

            .error {
                width: 100%;
                font-size: 14px;
                border-radius: 5px;
                background-color: #f1d0d4;
                border: 1px solid #dc3545;
                margin-bottom: 0px !important;
            }
        }

        button {
            width: 100%;
            color: white;
            background-color: $primary-color;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 12px 20px 12px 12px;
            border: none;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include screen-tablet {
                font-size: 1.8rem;
            }
        }

        button[id='enter'] {
            margin-top: 5px;
        }
    }

    &__hr {
        margin: 1.5rem 0;
        font-size: 1.2rem;
        @include screen-mobile {
            font-size: 1.4rem;
        }
        color: #404040;
        position: relative;
        span {
            background-color: white;
            position: relative;
            z-index: 2;
            padding: 0 6px;
        }

        span > * {
            text-decoration: none;
            color: $primary-color;
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            border: 1px solid #d6d6d7;
            top: 50%;
            width: 100%;
            border-radius: 0.375rem;
        }
    }

    .feedback-error {
        color: #dc3545;
        font-size: 12px;
        line-height: 16px;
    }
}
