@use '~/styles/' as *;
.search-header {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-margin: 9px;
    --search-button-width: 52px;
    position: relative;
    height: var(--search-height);
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;
    max-width: 400px;
    input {
        flex: 1;
        color: black;
        height: 100%;
        font-size: 1.6rem;
        background: transparent;
        caret-color: $primary-color;
        outline: none;
        border: none;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        background: rgba(22, 24, 35, 0.03);
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-margin);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-margin) * 2);
        background-color: #d7d7d9;
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    &__btn {
        width: var(--search-button-width);
        height: 100%;
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);
        color: rgba(22, 24, 35, 0.34);
        font-size: 1.8rem;
        outline: none;
        border: none;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
            cursor: pointer;
        }
        &:active {
            background: rgba(22, 24, 35, 0.06);
        }
    }
    &__clear,
    &__loading {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(var(--search-button-width) + 16px);
        color: rgba(22, 24, 35, 0.34);
    }
}
.search-result {
    width: 400px;
    border: 1px solid red;
    height: 50px;
    &__container {
        max-width: 400px;
        width: 100%;
    }
}
