@use '~/styles/' as *;
.search-header {
    position: relative;
    height: 46px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;
    max-width: 400px;
    padding-right: 1px;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
    input {
        flex: 1;
        color: black;
        height: 100%;
        font-size: 1.6rem;
        background: transparent;
        caret-color: $primary-color;
        outline: none;
        border: none;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        background: rgba(22, 24, 35, 0.03);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &__btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.8rem;
        outline: none;
        border: none;
        background: $primary-color;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        &:active {
            background: rgba(22, 24, 35, 0.06);
        }
    }

    &__clear,
    &__loading {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(52px + 16px);
        color: rgba(22, 24, 35, 0.34);
        cursor: pointer;
    }
}

.search-result {
    width: 400px;
    padding: 20px;
    &__container {
        max-width: 400px;
        width: 100%;
    }
}

.result-item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0;
    display: flex;
    flex-direction: column;
    &__author {
        display: flex;
        align-items: center;
        gap: 1rem;

        .createdAt,
        .name {
            font-family: $width-main;
            font-weight: 500;
            font-size: 1.4rem;
        }

        .name {
            font-weight: 600;
        }
    }

    &__content {
        margin: 0px 5px 5px 40px;
        font-family: $width-main;
        font-weight: 600;
        font-size: 2rem;
        color: $black;
    }
}
