@use '~/styles/' as *;
.home {
    max-width: $width-main;
    margin: 0 auto;
    display: flex;
    &__sidebar {
        width: 20%;
        .sidebar-container {
            position: sticky;
            top: 70px;
        }
    }
    &__content {
        display: flex;
        width: 60%;
        height: 100%;
        gap: 10px;
        flex-direction: column;
    }
    &__navigation {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
        span {
            cursor: pointer;
        }
    }
    &__outstanding {
        width: 20%;
    }
}
.loading {
    margin-top: 35%;
}
