@use '~/styles/' as *;

.tag-detail {
   font-family: 'Poppins', sans-serif !important;
   padding: 0 10px;
   @include screen-mobile {
      padding: 0;
   }
   &__header {
      text-align: center;
      padding: 20px;
      background-color: #f0f2f5;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: $white;
      margin: 10px 0;
      border-radius: 10px;
      border: 1px solid #f0f0f0;
      border-left: 10px solid $primary-color;
      h1 {
         font-size: 3rem;
         font-weight: 600;
      }
      p {
         font-size: 1.5rem;
         color: #888;
      }
   }

   &__title {
      margin: 0;
      font-size: 2rem;
      color: #333;
   }

   &__subtitle {
      margin: 0;
      font-size: 1.2rem;
      color: #888;
   }
   &__action {
      display: flex;
   }
   &__button {
      margin: 10px 0;
      padding: 5px 10px;
      font-size: 1.2rem;
      @include screen-tablet {
         margin: 25px 0;
         font-size: 1.4rem;
         padding: 7px 10px;
      }
      @include screen-mobile {
         margin: 20px 0;
      }
   }

   &__content {
      display: flex;
   }

   &__sidebar {
      width: 200px;
      margin-right: 10px;
      display: none;
      @include screen-mobile {
         display: block;
      }
      &-section {
         margin-bottom: 20px;
      }

      &-title {
         font-size: 1.5rem;
         font-weight: 600;
         margin-bottom: 10px;
         text-transform: uppercase;
         color: #333;
      }

      &-list {
         list-style: none;
         padding: 0;
         font-size: 1.2rem;

         li {
            margin-bottom: 5px;
         }
      }
   }

   &__main {
      flex: 1;
   }

   .post-item {
      border: 1px solid #f0f0f0;
      border-radius: 5px;
      margin-bottom: 15px;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   }

   &__moderators {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .ant-avatar {
         margin-bottom: 10px;
      }
   }
}
