@use '~/styles/' as *;

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes borderFadeIn {
  from {
    border-left-width: 0;
    opacity: 0;
  }
  to {
    border-left-width: 1px;
    opacity: 1;
  }
}

@keyframes borderFadeOut {
  from {
    border-left-width: 1px;
    opacity: 1;
  }
  to {
    border-left-width: 0;
    opacity: 0;
  }
}

.comment-detail-post {
  padding: 0 20px;
  margin-bottom: 20px;
  @include screen-tablet {
    padding: 0 30px;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 15px;
    @include screen-tablet {
      font-size: 2.5rem;
    }
  }

  &__add-comment {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    .comment-arial {
      border-radius: 10px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn-comment {
      font-weight: 400;
      margin-left: 36px;
    }
  }

  &__container {
    margin-top: 10px;
  }
}

.comment-item {
  flex: auto;
  margin-bottom: 15px;
  cursor: default;
  animation: slideDown 0.3s ease-in-out;
  &.collapsed {
    animation: slideUp 0.3s ease-in-out;
  }

  &__inner {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 7px;
    position: relative;

    .menu-comment {
      position: absolute;
      top: 1.2rem;
      right: 0.7rem;
      z-index: 20;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include screen-mobile {
      padding-right: 3rem;
    }
  }

  &__author-name {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
    @include screen-mobile {
      font-size: 1.7rem;
    }
  }

  &__content {
    font-size: 1.4rem;
    font-family: $font-family;
    font-weight: 400;
    @include screen-tablet {
      font-size: 1.6rem;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include screen-mobile {
      justify-content: flex-start;
      gap: 50px;
    }
  }
  &__actions {
    display: flex;
    gap: 0px;
    margin-left: 30px;
    cursor: pointer;
    .like,
    .reply {
      padding: 0.3rem 0.7rem;
      border-radius: 10px;
      user-select: none;
      font-size: 1.2rem;
      margin-top: 8px;
      @include screen-mobile {
        font-size: 1.6rem;
      }
      &:hover {
        background: #ccc;
      }
    }
    @include screen-tablet {
      margin-left: 45px;
    }
    @include screen-mobile {
      gap: 20px;
    }
  }

  &__reply-title {
    display: flex;
    align-items: center;
    font-family: $font-family;
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
    @include screen-mobile {
      font-size: 1.4rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__reply-list {
    border-left: 1px solid #ccc;
    margin-left: 2rem;
    padding-left: 0.5rem;
    padding-top: 1.5rem;
    animation: borderFadeIn 0.3s ease-in-out;
    &.collapsed {
      animation: borderFadeOut 0.3s ease-in-out;
    }
    @include screen-tablet {
      margin-left: 3.4rem;
      padding-top: 3rem;
    }
  }
}
