@use '~/styles/' as *;

.my-tags {
    min-height: 300px;
    height: 100%;
    width: 100%;
    @include screen-tablet {
        max-width: 92%;
    }
    border-top: 1px solid #ccc;
    float: left;
    margin-top: 3px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    &__header {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
    &__container {
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-right: 15px;
    }
}
