@use '~/styles/' as *;
.sidebar {
    width: 100%;
    padding: 0px 0px 10px 0;
    min-height: 500px;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    @include screen-mobile {
    }
    @include screen-laptop {
        margin-left: 20px;
        padding: 0px 0px 10px 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        margin-top: 10px;
    }
    &__top {
        height: 240px;
        @include screen-tablet {
            height: 300px;
        }
    }
    &__item {
        text-decoration: none;
        color: $black;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 5px 5px 5px 0;
        gap: 10px;
        border-radius: 7px;
        color: #161823;
        @include screen-tablet {
            padding: 6px 6px 6px 0;
        }
        &--active {
            color: $primary-color;
        }
        &:hover {
            background: #2e386e0f;
        }
    }
    &__icon {
        font-size: 2.2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    &__title {
        font-size: 1.5rem;
        @include screen-tablet {
            font-size: 2rem;
        }
    }
    &__social-network {
        margin: 10px 0;
        .icon {
            padding: 5px;
            border-radius: 5px;
            display: flex;
            align-self: center;
            cursor: pointer;
            &:hover {
                background: #bde4e2;
            }
        }
    }
    &__my-tags {
        max-height: 500px;
        flex-grow: 1;
    }
}
.ant-drawer-body:has(.sidebar) {
    padding: 5px 5px 10px 24px;
}
