@use '~/styles/' as *;
.sidebar {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
    &__item {
        text-decoration: none;
        color: $black;
        font-weight: 600;
        margin-left: 8px;
        display: flex;
        align-items: center;
        padding: 7px;
        gap: 10px;
        border-radius: 7px;
        color: #161823;
        font-size: 1.8rem;
        &--active {
            color: $primary-color;
        }
        &:hover {
            background: #1618230f;
        }
    }
    &__icon {
        font-size: 2.2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    &__title {
        font-size: 2rem;
    }
}
