@use '~/styles/' as *;
.sidebar {
    width: 240px;
    padding-top: 20px;
    &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    &__item {
        text-decoration: none;
        color: $black;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 7px 7px 7px 0;
        gap: 10px;
        border-radius: 7px;
        color: #161823;
        font-size: 1.8rem;
        &--active {
            color: $primary-color;
        }
        &:hover {
            background: #2e386e0f;
        }
    }
    &__icon {
        font-size: 2.2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    &__title {
        font-size: 2rem;
    }
    &__my-tags {
        height: 350px;
    }
}
