@use '~/styles/' as *;
.tag-children {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    border-radius: 5px;
    gap: 2px;
    user-select: none;
    font-size: 1.6rem;
    cursor: pointer;
    width: fit-content;
    &__name {
        font-size: 1.3rem;
        @include screen-tablet {
            font-size: 1.7rem;
        }
        @include screen-mobile {
            font-size: 1.4rem;
        }
        font-weight: 400;
    }
}
