@use '~/styles/' as *;
.default-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &__container {
        max-width: $width-main;
        width: $width-full;
    }
}
