@use '~/styles/' as *;
.tag-sidebar {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 6px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 1px;
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__name {
        font-size: 1.3rem;
        color: $black;
        @include screen-tablet {
            font-size: 1.4rem;
        }
    }

    &__post-count {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        width: 60px;
        font-weight: 600;
        display: flex;
        background-color: #3c3c3c;
        border-radius: 9999px;
        padding: 3px 10px;
        color: #ffffff;
    }

    &:hover {
        background-color: #ccc;
    }
}
